.viewpage{
    position: fixed;
    left: 260px;
    top: 61px;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow-y: auto;
    background-color: #f0efef;


    @media (max-width: 719px) {
        left: 0!important;
    }
    @media (max-width: 959px) {
        left: 201px;
    }

    .content{
        position: relative;
        padding: 35px 40px 20px 40px;
        min-width: 640px;

        @media (max-width: 719px) {
            // padding-right: 20px;
            padding: 0;
            margin: 0 15px;
        }
    }
}